/* For layout.jinja2 */
.navContent{
    font-size: 18px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

nav .navbar-brand {
    float: left;
}

body {
    font-family: 'Sanchez', serif;
}